{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel = "stylesheet" type="text/css" href="{% static 'users/styles.css' %}"/>
{% endblock %}

{% block content %}
<h2 id="profile_details">Profile Details</h2>
<h3 id="username">
    {{user.username}}
</h3>
<button><a href="{% url 'news:newStory' %}">Write New Story</a></button>

<div id="profile_view">
    {% if profile_details %}
        {% for story in profile_details.newsstory_set.all %}
            {% include "news/storyCard.html" with story=story %}
        {% endfor %}
    {% else %}
        <p>No stories available</p>
    {% endif %}
</div>

{% endblock %}